<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
</head>
<body>
    <header>
        <div th:fragment="header" th:remove="tag">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#" th:text="#{text.common.system}"></a>
                    <!--<p th:text="${title}" style="color:white"></p>-->
                    
                    <form th:action="@{/logout}" method="post" class="form-inline mt-2 mt-md-0">
                        <span th:text ="${#authentication.getPrincipal().getLocalUserId()}" style="color:white"></span>
                        <button type="submit" class="btn btn-light">
                            <i class="bi bi-box-arrow-right"></i>
                            <span th:text="#{text.common.logout}"></span>
                        </button>
                    </form>
                </div>

                

                </div>
            </nav>
        </div>
    </header>
</body>
</html>